body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 5px;
  }

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

.bottom {
    display: flex;
    margin-left: 180px;
    align-items: center;
    gap: 10px;
  }

  .selected {
    background-color: #4CAF50; /* Green background for the selected word */
    color: white;
  }

  .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
}

.modal h2 {
  margin-top: 0;
}

#word-list {
  list-style-type: none;
  padding: 0;
}

#word-list li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#word-list li:hover {
  background-color: #f0f0f0;
}