@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 5px;
  font-family: 'Patrick Hand', cursive;
}

.leaderboard-container {
  text-align: center;
  margin-top: 0; 
  width: 150px; 
  height: 450px; 
  overflow-y: auto; 
}

.leaderboard-table {
  border-collapse: collapse;
  width: 100%; 
}

.leaderboard-table th, .leaderboard-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: white;
}

.leaderboard-table th {
  background-color: #4CAF50;
  color: white;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 40px;
}

#word-display {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 700px;
  background-color: #ffd296;
  border: 10px solid black;
  border-radius: 10px;
}

#back-button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 150px;
  background-color: #ffd296;
  border: 10px solid black;
  border-radius: 10px;
}

#back-button:hover {
  background-color: #FFAD96;
}

#timer {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 250px;
  background-color: #ffd296;
  border: 10px solid black;
  border-radius: 10px;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.bottom {
  display: flex;
  margin-left: 180px;
  align-items: center;
  gap: 10px;
}

/* Chat Box */
.messages {
  height: 440px;
  overflow-y: auto;
  border: 1px solid #b8adb8;
  padding: 10px;
  background: white;
  border: 10px solid black;
  border-radius: 5px;
  width: 250px;
}

.text {
  padding: 8px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.text strong {
  color: #007bff;
}

.text span {
  background: #e9ecef;
  padding: 6px 10px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid black;
  max-width: 100%;
}

.selected {
  background-color: #4CAF50; /* Green background for the selected word */
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
}

.modal h2 {
  margin-top: 0;
}

#word-list {
  list-style-type: none;
  padding: 0;
}

#word-list li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#word-list li:hover {
  background-color: #f0f0f0;
}

#times-up-modal , #all-guessed-modal{
  text-align: center;
}