body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 5px;
  }

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

.bottom {
    display: flex;
    align-items: center;
    gap: 10px;
  }
