body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 5px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.bottom {
  display: flex;
  gap: 10px;
}

/* Chat Box */
.messages {
  height: 440px;
  overflow-y: auto;
  border: 1px solid #b8adb8;
  padding: 10px;
  background: white;
  border-radius: 5px;
  width: 250px;
}

.text {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.text strong {
  color: #007bff;
}

.text span {
  background: #e9ecef;
  padding: 6px 10px;
  border-radius: 5px;
  display: inline-block;
  max-width: 100%;
}

#message {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin-right: 10px;
  height: 30px;
  width: 700px;
}

#send-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#send-btn:hover {
  background: #0056b3;
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
}

.modal h2 {
  margin-top: 0;
}