<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="thing.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkribbleVerse</title>
    <style>
      /*Puts elements in the center horizontally*/
      body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      gap: 5px;
      }
    </style>
  </head>
  <body style="background-image: linear-gradient(to right, rgb(90, 111, 253) , rgb(247, 102, 200));"> <!--Background-->
    <!--Canvas for Guessing UI (Incomplete)-->
    <canvas id="GuessingCanvas" width="800" height="75" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Drawing Canvas, push to draw-->
    <canvas id="DrawingCanvas" width="800" height="450" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Canvas for Choosing Colours to draw with -->
    <canvas id="ColoursCanvas" width="800" height="75" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <script src="src/Drawing.js"></script>
  </body>
</html>
