{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
</head>
<body>

    <div class="leaderboard-container">
        <h2 class="title">Leaderboard</h2>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="players-list">
            </tbody>
        </table>
    </div>

    <script src={% static 'js/gameSettings.js'%}></script>
</body>
</html>
