.btn-bd-primary {
    --bs-btn-color: white;
    --bs-btn-bg: rgb(80, 10, 80);
    --bs-btn-border-color: white;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: rgb(165, 20, 165);
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: rgb(255, 0, 255);
    --bs-btn-active-border-color: white;
    font-size: 1.5rem;
    font-family: 'Calibri', sans-serif;
    border-width: 0.1em;
    margin: 1em;

}

.report{
    margin-top: 1.5em;
    margin-left: 42vw;
    margin-right: 42vw;
}