<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="thing.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkribbleVerse</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drawing.css') }}">
  </head>
  <body style="background-image: linear-gradient(to right, rgb(90, 111, 253) , rgb(247, 102, 200));"> <!--Background-->
    
    <!--Top Row-->
    <div class="top">

    <!--Canvas for Back Button (Incomplete)-->
    <canvas id="BackCanvas" width="150" height="75" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>
    
    <!--Canvas for Word UI-->
    <canvas id="WordCanvas" width="700" height="75" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Canvas for Timer-->
    <canvas id="TimerCanvas" width="250" height="75" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>
    </div>

    <!--Middle Row-->
    <div class="middle">

    <!--Leaderboard Canvas-->
    <canvas id="LeaderboardCanvas" width="150" height="450" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Drawing Canvas-->
    <canvas id="DrawingCanvas" width="700" height="450" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Chat Area-->
    <div class="messages" id="messages">
    </div>
    </div>
    
    <!--Bottom Row-->
    <div class="bottom">

    <!--Canvas for Choosing Colours to draw with-->
    <canvas id="ColoursCanvas" width="800" height="75" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Canvas for Pencil and Eraser-->
    <canvas id="ToolsCanvas" width="150" height="75" >
      Your browser does not support the HTML canvas tag.
    </canvas>
    </div>

    <!-- Modal for word selection -->
    <div id="word-selection-modal" class="modal">
      <div class="modal-content">
        <h2>Choose a Word</h2>
        <ul id="word-list">
          <!-- The words will be dynamically inserted here -->
        </ul>
      </div>
    </div>
    
    <!-- Background dimming overlay -->
    <div id="overlay" class="overlay"></div>

    <script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
  </body>
</html>

<script text="text/javascript">
  window.currentDrawer = {{ current_drawer | tojson }};
  console.log("Current Drawer:", window.currentDrawer);
</script>