<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="thing.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkribbleVerse</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guessing.css') }}">
  </head>
  <body style="background-image: linear-gradient(to right, rgb(90, 111, 253) , rgb(247, 102, 200));"> <!--Background-->
    
    <!--Top Row-->
    <div class="top">

    <h2 id="back-button">Back</h2>
  
    <h2 id="word-display"></h2>

    <h2 id="timer">1:00</h2>
    
    </div>

    <!--Middle Row-->
    <div class="middle">

    <!--Leaderboard Table-->
    <div class="leaderboard-container">
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th style="text-align: center;">Player</th>
            <th style="text-align: center;">Score</th>
          </tr>
        </thead>
        <tbody id="players-list">
          <!-- Players' data will be dynamically inserted here -->
        </tbody>
      </table>
    </div>

    <img id="DrawingImage" width="700" height="450" style="border:10px solid #000000;">

    <!--Chat Area-->
    <div class="messages" id="messages">
    </div>
    </div>
    
    <!--Bottom Row-->
    <div class="bottom">
    
    <!--Guessing Area-->
    <div>
      <div class="inputs">
          <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
          <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
      </div>
    </div>
    </div>

    <!--Others-->

    <div id="waiting-modal" class="modal">
      <div class="modal-content">
        <h2>Waiting for drawer to choose word</h2>
      </div>
    </div>

    <!-- Modal for Times Up -->
    <div id="times-up-modal" class="modal">
      <div class="modal-content">
        <h1>Times Up!</h1>
        <h2 id="times-up"></h2>
      </div>
    </div>

    <!-- Modal for All Guessed -->
    <div id="all-guessed-modal" class="modal">
      <div class="modal-content">
        <h1>Everyone guessed correctly!</h1>
        <h2 id="all-guessed"></h2>
      </div>
    </div>
    
    <!-- Background dimming overlay -->
    <div id="overlay" class="overlay"></div>

  </body>
</html>

<script text="text/javascript">
  window.currentDrawer = {{ current_drawer | tojson }};
  console.log("Current Drawer:", window.currentDrawer);

  window.minutes = {{ mins | tojson }};
  console.log("Minutes:", window.minutes);

  window.ten_secs = {{ ten_secs | tojson }};
  console.log("Ten Seconds:", window.ten_secs);

  window.secs = {{ secs | tojson }};
  console.log("Seconds:", window.secs);

  window.scores = {{ scores | tojson }};
  console.log("scores:", window.scores);
</script>

<script src="{{ url_for('static', filename='js/Guessing.js') }}"></script>