<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="thing.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkribbleVerse</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guessing.css') }}">
  </head>
  <body style="background-image: linear-gradient(to right, rgb(90, 111, 253) , rgb(247, 102, 200));"> <!--Background-->
    
    <!--Top Row-->
    <div class="top">

    <!--Canvas for Back Button (Incomplete)-->
    <canvas id="BackCanvas" width="150" height="75" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>
    
    <!--Canvas for Word UI-->
    <canvas id="WordCanvas" width="700" height="75" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <!--Canvas for Timer-->
    <canvas id="TimerCanvas" width="250" height="75" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>
    </div>

    <!--Middle Row-->
    <div class="middle">

    <!--Leaderboard Canvas-->
    <canvas id="LeaderboardCanvas" width="150" height="450" style="border:10px solid #000000;" >
      Your browser does not support the HTML canvas tag.
    </canvas>

    <img id="DrawingImage" width="700" height="450" style="border:10px solid #000000;">

    <!--Chat Area-->
    <div class="messages" id="messages">
    </div>
    </div>
    
    <!--Bottom Row-->
    <div class="bottom">
    
    <!--Guessing Area-->
    <div>
      <div class="inputs">
          <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
          <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
      </div>
    </div>
    </div>

    <!--Others-->

    <div id="waiting-modal" class="modal">
      <div class="modal-content">
        <h2>Waiting for drawer to choose word</h2>
      </div>
    </div>
    
    <!-- Background dimming overlay -->
    <div id="overlay" class="overlay"></div>

  </body>
</html>

<script text="text/javascript">
  window.currentDrawer = {{ current_drawer | tojson }};
  console.log("Current Drawer:", window.currentDrawer);

  window.minutes = {{ mins | tojson }};
  console.log("Minutes:", window.minutes);

  window.ten_secs = {{ ten_secs | tojson }};
  console.log("Ten Seconds:", window.ten_secs);

  window.secs = {{ secs | tojson }};
  console.log("Seconds:", window.secs);
</script>

<script src="{{ url_for('static', filename='js/Guessing.js') }}"></script>