<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
</head>
<body>

    <div class="leaderboard-container">
        <h2 class="title">Leaderboard</h2>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="players-list">
            </tbody>
        </table>
    </div>

    <form action="{{ url_for('index') }}" method="POST">
        <button type="submit" name="return">Return to Home Page</button>
    </form>
</body>
</html>

<script text="text/javascript">
    window.playerData = {{ data | tojson }};
    console.log(window.playerData);

    window.scores = window.playerData.scores;
    window.username = window.playerData.individual_username;

    console.log(window.scores);
    console.log(window.username);
</script>

<script src="{{ url_for('static', filename='js/create room.js') }}"></script>