{% extends 'base.html' %} {% block content %}

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
></script>

<div class="player-list">
    <h3>Players</h3>
    <ul id="players"></ul>
</div>
<div class="room-container">
    <div class="message-box">
        <h2>Chat Room: {{code}}</h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
            <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
        </div>
    </div>
</div>

{% if host %}
    <form action="{{ url_for('game') }}" method="POST">
        <button type="submit" id="startGame">Start Game</button>
    </form>
{% endif %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
<script src="{{ url_for('static', filename='js/room.js') }}"></script>

<script type="text/javascript">
    {% for msg in messages %}
        createMessage("{{msg.name}}", "{{msg.message}}");
    {% endfor %}
</script>

{% endblock %}