{% extends 'base.html' %} {% block content %}

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
></script>

<div class="player-list">
    <h3>Players</h3>
    <ul id="players"></ul>
</div>
<div class="room-container">
    <div class="message-box">
        <h2>Chat Room: {{code}}</h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
            <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
        </div>
    </div>
</div>

{% if host %}
    <form action="{{ url_for('game') }}" method="POST">
        <button type="submit" id="startGame">Start Game</button>
    </form>
{% endif %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");
    const playersList = document.getElementById("players");

    socketio.on("connect", () => {
        console.log("Socket Connected!");
    });

    socketio.on("error", (error) => {
        console.log("SocketIO Error:", error);
    });

    let players = [];

    const updatePlayerList = () => {
        console.log("Updating player list...")
        playersList.innerHTML = "";
        players.forEach(player => {
            const li = document.createElement("li");
            li.textContent = player;
            playersList.appendChild(li);
        });
    };

    socketio.on("username", (updatedPlayers) => {
        console.log("Players:", updatedPlayers)
        players = updatedPlayers;
        updatePlayerList();
    });

    const addPlayer = (player) => {
        players.push(player);
        updatePlayerList();
    };

    const deletePlayer = (player) => {
        players = players.filter(p => p !== player);
        updatePlayerList();
    };

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
        </div>
        `;
        messages.innerHTML += content;
        messages.scrollTop = messages.scrollHeight;
    };

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", {data: message.value});
        message.value = "";
    };

    socketio.on("message", (data) => {
        console.log("Received Message:", data);
        createMessage(data.name, data.message);
        console.log("Still connected...")
    });

    document.getElementById("send-btn").addEventListener("click", sendMessage);
    document.getElementById("message").addEventListener("keypress", function(event) {
        if (event.key === "Enter") sendMessage();
    });

    // updatePlayerList();
    // addPlayer("johan")

</script>
{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}")
    </script>
{% endfor %}

{% endblock %}