<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScribbleVerse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
        <h1>ScribbleVerse</h1>
        <div class="container">
            <form method="POST" action="/create-room/">
                <input type="text" placeholder="Enter your Username" name="username">
                <button onclick="playGame()">Play</button>
                <button onclick="createRoom()" type="submit" class="btn btn-primary">Create Room</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
